<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vuerouter_test</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">   
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"> 
    <style>
        .fade-enter-active, .fade-leave-active {
            transition: opacity 0.4s ease;
        }
        .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
            opacity: 0;
        }
    </style>
</head>
<body class="h-100">
    <div id="app" class="h-100 d-flex flex-column">
        <main class="flex-grow-1 d-flex align-items-center justify-content-center bg-dark">
            <div class="container">
                <transition name="fade" mode="out-in">
                    <router-view></router-view>
                </transition>                
            </div>            
        </main>
        <footer class="flex-shrink-0">
            <nav class="navbar navbar-dark bg-dark">
                <div class="container">
                  <router-link :to="'/'" class="navbar-brand">
                    <i class="bi bi-bootstrap-fill"></i>
                  </router-link>
                  <div class="text-light">copyright sunghee</div>
                </div>
            </nav>
        </footer>
    </div>
    <template id="navbar">
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <div class="d-flex align-items-center">
                    <button class="btn" @click="goback" v-if="!(cardtitle === 'home')"><i class="bi bi-chevron-left"></i></button>
                    <h3 class="m-0 ms-1">{{ cardtitle }}</h3>                    
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                    aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul ref="gnb" class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item">
                                <router-link :to="{name:'home'}" class="nav-link">home</router-link>
                            </li>
                            <li class="nav-item">
                                <router-link :to="{name:'about'}" class="nav-link">about</router-link>
                            </li>
                            <li class="nav-item">
                                <router-link :to="{name:'herolist'}" class="nav-link">hero list</router-link>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </template>
    <template id="home">
        <section class="card">
            <my-navbar :cardtitle="title"></my-navbar>
            <div class="card-body d-flex align-items-center justify-content-center">  
                <img src="https://v3.ko.vuejs.org/logo.png" alt="">                           
            </div>
        </section>
    </template>
    <template id="about">
        <section class="card">
            <my-navbar :cardtitle="title"></my-navbar>
            <div class="card-body">
                <section>                    
                    <h4>특징</h4>
                    <ul>
                        <li>window.history 열람해서 뒤로가기 기능 구현</li>
                        <li>부모 컴포넌트(card)에서 자식 컴포넌트(navbar)로 타이틀 prop을 내려줌</li>
                        <li>mounted 훅에서 $refs 의 class 체크하여 변경</li>
                    </ul>
                </section>
                <section>
                    <h4>next work</h4>
                    <ul>                        
                        <li>transition - 방향에 따라 다른 모드 주기</li>
                        <li>transition - card content <a href="https://codepen.io/akosstegner/pen/MQvbEe" target="_blank">https://codepen.io/akosstegner/pen/MQvbEe</a> </li>
                        <li>create loading 시작 mounted loading 끝</li>
                    </ul>
                </section> 
            </div>
        </section>
    </template>
    <template id="heroes-list">
        <section class="card">
            <my-navbar :cardtitle="title"></my-navbar>
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="text-center">name</th>
                            <th class="text-center">power</th>
                            <th class="text-center">badass</th>
                            <th class="text-center">action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="hero in filteredHeroes">
                            <td class="text-center">
                                <router-link :to="{name:'hero', params:{hero_id: hero.id}}">
                                    {{ hero.name }}
                                </router-link>
                            </td>
                            <td class="text-center">
                                {{hero.power}}
                            </td>
                            <td class="text-center">
                                {{hero.badass}}
                            </td>
                            <td class="text-center">
                                <router-link :to="{name:'heroedit', params:{hero_id:hero.id}}" tag="button" class="btn"><i class="bi bi-pencil"></i> edit</router-link>
                                <router-link :to="{name:'herodelete', params:{hero_id:hero.id}}" tag="button" class="btn"><i class="bi bi-eraser"></i> delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <router-link :to="{name:'heroadd'}" tag="button" class="btn btn-primary w-100"><i class="bi bi-plus-lg"></i> add hero</router-link>
            </div>
        </section>
    </template>
    <template id="hero">
        <section class="card">
            <my-navbar :cardtitle="title"></my-navbar>        
            <div class="card-body">
                <h2>{{hero.name}}</h2>
                <hr> 
                <label for="hero-power">power</label> <input type="text" id="hero-power" :value="hero.power" readonly><br>
                <label for="hero-badass">badass</label> <input type="text" id="hero-badass" :value="hero.badass" readonly>
            </div>
            <div class="card-footer">
                <router-link :to="{name:'herolist'}" tag="button" class="btn btn-primary w-100">List</router-link>
            </div>            
        </section>
    </template>
    <template id="hero-edit">
        <section class="card">
            <my-navbar :cardtitle="title"></my-navbar>       
            <form v-on:submit.prevent="updateHero">
                <div class="card-body">      
                    <h2>edit {{ hero.name }} hero</h2> 
                    <hr>         
                    <label class="form-label">Name</label>
                    <input id="add-name" v-model="hero.name" class="form-control" required/>
                    <label class="form-label">Superpower</label>
                    <textarea id="add-power" rows="8" v-model="hero.power" class="form-control" required></textarea>
                    <label class="form-label">Badass</label>
                    <input type="number" min="0" max="10" v-model="hero.badass" class="form-control" required/>
                </div>
                <div class="card-footer d-flex">
                    <router-link :to="{name:'herolist'}" class="btn btn-outline-primary flex-fill" tag="button">cancel</router-link>
                    <button type="submit" class="btn btn-primary flex-fill  ms-2"><i class="bi bi-pencil"></i> edit</button>                
                </div>
            </form>            
        </section>
    </template>
    <template id="hero-add">
        <section class="card">
            <my-navbar :cardtitle="title"></my-navbar>            
            <form v-on:submit.prevent="createHero">
            <div class="card-body">       
                <h2>add hero</h2>  
                <hr>       
                <label class="form-label">Name</label>
                <input id="add-name" v-model="hero.name" class="form-control" required/>
                <label class="form-label">Superpower</label>
                <textarea id="add-power" rows="8" v-model="hero.power" class="form-control" required></textarea>
                <label class="form-label">Badass</label>
                <input type="number" min="0" max="10" v-model="hero.badass" class="form-control" required/>
            </div>
            <div class="card-footer d-flex">
                <router-link :to="{name:'herolist'}" class="btn btn-outline-primary flex-fill" tag="button">cancel</router-link>
                <button type="submit" class="btn btn-primary flex-fill ms-2"><i class="bi bi-plus"></i> create</button>                
            </div>
            </form>
        </section>
    </template>
    <template id="hero-delete">
        <section class="card">
            <my-navbar :cardtitle="title"></my-navbar>
            <div class="card-body text-center">
                Are You sure? You want to delete <strong>{{hero.name}}</strong> from this Universe?<br>
                He will be very upset...
            </div>
            <form v-on:submit.prevent="deleteHero">
            <div class="card-footer d-flex">
                <router-link :to="{name:'herolist'}" class="btn btn-outline-danger flex-fill" tag="button">cancel</router-link>
                <button type="submit" class="btn btn-danger flex-fill ms-2"><i class="bi bi-eraser"></i> delete</button>
            </div>
            </form>
        </section>
    </template>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        // heroes data
        let heroes = [
            { id : 0, name : 'Batman', power : 'Fist fighting', badass: 10 },
            { id : 1, name : 'Superman', power : 'Laser eyes', badass: 7 },
            { id : 2, name : 'Flash', power : 'Too fast', badass: 5 },
            { id : 3, name : 'Spiderman', power : 'Just a nice guy', badass: 1 },
            { id : 4, name : 'Hulk', power : 'SMASH!', badass: 42 }
        ];
        // component
        Vue.component('my-navbar', {
            props:['cardtitle'],
            template: '#navbar',
            methods:{
                goback(){
                    window.history.length > 1 ? this.$router.go(-1) : this.$router.push('/');
                }
            },
            mounted: function () {
                // $refs 는 mounted 훅에서 인식된다.
                let gnb = this.$refs.gnb;
                let gnb_as = gnb.querySelectorAll('li a');
                let gnb_as_arr = Array.from(gnb_as);
                for(let i=0; i<gnb_as_arr.length; i++){
                    if(gnb_as_arr[i].classList.contains('router-link-exact-active')){
                        gnb_as_arr[i].classList.add('active');
                    }else{
                        if(gnb_as_arr[i].classList.contains('active')) gnb_as_arr[i].classList.remove('active');
                    }
                }
            },
        });
        // page component
        let Home = Vue.extend({
            template:'#home',
            data:function(){return {title:this.$route.name}}
        });
        let About = Vue.extend({
            template:'#about',
            data:function(){return {title:this.$route.name}}
        });
        let HeroesList = Vue.extend({
            template:'#heroes-list',
            data:function(){return {title:this.$route.name, heroes:heroes}},
            computed:{filteredHeroes:function(){return this.heroes;}}
        });
        let Hero = Vue.extend({
            template:'#hero',
            data:function(){return{title:this.$route.name, hero:findHero(this.$route.params.hero_id)}}
        });
        let HeroEdit = Vue.extend({
            template:'#hero-edit',
            data:function(){return{title:this.$route.name, hero:findHero(this.$route.params.hero_id)}},
            methods:{
                updateHero:function(){
                    let hero = this.hero;
                    heroes[findHeroKey(hero.id)] = {
                        id: hero.id,
                        name:hero.name,
                        power:hero.power,
                        badass:hero.badass
                    }
                    router.push({ name: 'herolist'});
                }
            }
        });
        let HeroAdd = Vue.extend({
            template:'#hero-add',
            data:function(){return {title:this.$route.name, hero: { name: '', power: '', badass: 1}}},
            methods:{
                createHero:function(){
                    let hero = this.hero;
                    heroes.push({
                        id:     getNextId(),
                        name:   hero.name,
                        power:  hero.power,
                        badass: hero.badass
                    });
                    router.push({ name: 'herolist'});
                }
            }
        });
        let HeroDelete = Vue.extend({
            template:'#hero-delete',
            data:function(){return {title:this.$route.name, hero:findHero(this.$route.params.hero_id)}},
            methods:{
                deleteHero:function(){
                    heroes.splice(findHeroKey(this.$route.params.hero_id),1);
                    router.push({ name: 'herolist'});
                }
            }
        })
        //
        function findHero(id){
            for(let i=0;i<heroes.length; ++i){
                if(heroes[i].id === id) return heroes[i];
            }
        }
        function findHeroKey(id){
            for(let i=0;i<heroes.length;++i){
                if(heroes[i].id === id) return i;
            }
        }
        function getNextId() { return (heroes[heroes.length-1].id+1); }
        // router
        let router = new VueRouter({
            mode: 'history',
            routes:[
                {path:'/', component:Home, name:'home'},
                {path:'/about', component:About, name:'about'},
                {path:'/herolist', component:HeroesList, name:'herolist'},
                {path:'/hero/:hero_id', component:Hero, name:'hero'},
                {path:'/heroadd', component:HeroAdd, name:'heroadd'},
                {path:'/heroedit/:hero_id', component:HeroEdit, name:'heroedit'},
                {path:'/herodelete/:hero_id', component:HeroDelete, name:'herodelete'}
            ]
        });
        // app
        let vm = new Vue({
            router,
            created: function () {
                
            },
            updated:function(){
                
            }
        }).$mount('#app');
    </script>
</body>
</html>